[submodule "bashrc.d"]
	path = bashrc.d
	url = https://github.com/nagata1634/bashrc.d.git
[submodule "sway"]
	path = sway
	url = https://github.com/nagata1634/swayconfig.git
[submodule "fontconfig"]
	path = fontconfig
	url = git@github.com:nagata1634/fontconfig
[submodule "fish"]
	path = fish
	url = https://github.com/nagata1634/fish
[submodule "environment.d"]
	path = environment.d
	url = git@github.com:nagata1634/environment.d
[submodule "foot"]
	path = foot
	url = git@github.com:nagata1634/foot
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:nagata1634/kickstart.nvim
[submodule "nvim"]
	path = nvim
	url = git@github.com:nagata1634/kickstart.nvim
[submodule "code.nvim"]
	path = code.nvim
	url = git@github.com:nagata1634/config.code.nvim
